
*.obj

*.exe

*.recipe

*.pdb

MatrixTranspose1/Release/HIP clang 5.7/MatrixTranspose1.vcxproj.FileListAbsolute.txt

MatrixTranspose1/Release/HIP clang 5.7/MatrixTranspose1.tlog/

*.log

MatrixTranspose1/Debug/HIP clang 5.7/MatrixTranspose1.vcxproj.FileListAbsolute.txt

*.ilk

MatrixTranspose1/Debug/HIP clang 5.7/MatrixTranspose1.tlog/
/MatrixTranspose1/.vs/MatrixTranspose1/v16/ipch/AutoPCH/bcb8a9c18c26bc82
/MatrixTranspose1/.vs/MatrixTranspose1/v16/ipch/AutoPCH/21f33b8e06e06768
/MatrixTranspose1/.vs/MatrixTranspose1/v16/ipch/AutoPCH/388f0a0a3fd0b56c
/MatrixTranspose1/.vs/MatrixTranspose1/v16/ipch/AutoPCH/82eef6087f5780d1
